---
import Layout from '../components/layout/Layout.astro';
import Button from '../components/ui/Button.astro';
import PageDescription from '../components/ui/PageDescription.astro';
import PageTitle from '../components/ui/PageTitle.astro';
import Section from '../components/ui/Section.astro';
import { donatePage } from '../data/donate';
---

<Layout
  description={donatePage.metaDescription}
  title={donatePage.metaTitle}
>
  <Section>
    <PageTitle>{donatePage.title}</PageTitle>
    <PageDescription>{donatePage.description}</PageDescription>
    <Button href={donatePage.buttonHref}>{donatePage.buttonText}</Button>
  </Section>
</Layout>
