---
import Layout from '../../components/layout/Layout.astro';
import PageTitle from '../../components/ui/PageTitle';
import PageDescription from '../../components/ui/PageDescription';
import Section from '../../components/ui/Section';
import { ritualsPage, rituals } from '../../data/rituals';

const base = import.meta.env.BASE_URL;
---

<Layout
  description={ritualsPage.metaDescription}
  title={ritualsPage.metaTitle}
>
  <Section>
    <div class="page-header">
      <PageTitle>{ritualsPage.title}</PageTitle>
      <PageDescription>{ritualsPage.description}</PageDescription>
      <ul class="page-list">
        {rituals.map((r) => (
          <li><a href={`${base}rituals/${r.slug}`}>{r.title}</a></li>
        ))}
      </ul>
    </div>
  </Section>
</Layout>
